.bg-maroon {
    background-color: #8B001D
}

.bg-sky-blue {
    background-color: #8BCCD8
}

.charcoal {
    color: #333132
}

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

.overpass {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
}

.overpass-mono {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
}

.athelas {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
}

table {
    width: 100%;
}

.measure-wide {
    max-width: 40em;
}

.measure {
    max-width: 30em;
}

.measure-narrow {
    max-width: 20em;
}